@model Condominios.Models.ViewModels.CtrolEquipo.CtrolMtosEquipoViewModels
@using Newtonsoft.Json;
@using System.Globalization;

@{
#pragma warning disable CS8602
    ViewData["Title"] = "Consultar";

    CultureInfo cultureInfo = new CultureInfo("es-MX");
    decimal CostoAdquisicion = Model.Equipo.CostoAdquisicion;
}

<aside class="row">

    <section class="col-12 col-lg-4 rounded-2" id="despegableUP">
        <div class="row border-R titleDespegable rounded-2">
            <h2> <span class="color-R">E</span>ditar equipo <img src="~/images/down.svg" class="btnDes" alt="UP" id="up"></h2>
        </div>

        <div id="contenidoUP">

            <h4 class="pt-3">Editar equipo</h4>

            @*FORMULARIO DESPLEGABLE DE EQUIPOS- - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
            <form asp-controller="Equipos" asp-action="Update" class="text-light text-center " id="formsEquipo">
                @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @* Campos ocultos - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                <input asp-for="MantenimientoID" type="hidden">
                <input asp-for="EquipoID" type="hidden">
                @* Campos ocultos - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@

                <div class="row p-2">
                    <label><b>Número de serie</b></label>
                    <input asp-for="Plantilla.NumSerie" class="textDes">
                    <span asp-validation-for="Plantilla.NumSerie" class="text-danger"></span>
                </div>
                @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                <div class="row p-2">
                    <label><b>¿En qué estado se encuentra el equipo?</b></label>

                    <select asp-for="Plantilla.EstatusID" asp-items="Model.Estatus" class="textDes">
                        <option value="">Selecciona un estado</option>
                    </select>
                    <span asp-validation-for="Plantilla.EstatusID" class="text-danger"></span>
                </div>
                @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                <div class="row p-2 ">
                    <label><b>Costo de adquisición del equipo</b></label>
                    <input asp-for="Plantilla.CostoAdquisicion" class="textDes" type="number" />
                    <br />
                </div>
                @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                <div class="row p-2">
                    <label><b>Selecciona la ubicación a la que pertenece</b></label>

                    <select asp-for="Plantilla.UbicacionID" asp-items="Model.Ubicaciones" class="textDes">
                        <option value="">Selecciona una ubicación</option>
                    </select>

                    <br />
                    <span asp-validation-for="Plantilla.UbicacionID" class="text-danger"></span>
                </div>
                @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                <div class="row p-2">
                    <label><b>Función del equipo</b></label>
                    <textarea asp-for="Plantilla.Funcion" rows="3" class="textDes" cols="50"></textarea>
                    <br />
                    <span asp-validation-for="Plantilla.Funcion" class="text-danger"></span>
                </div>
                @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                <div class="row p-1 pb-2">
                    <input type="submit" value="Editar" class="btn-des" id="confirmar">
                </div>
            </form>
            @*FORMULARIO - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
        </div>

    </section>

    <div class="col-12 col-lg-8"> </div>

</aside>

@* ********************************************************************************** *@
<br />
<br />

@* Contenido *@

@* Titulo *@
<section class="row border-R text-center rounded-3 mt-4">
    <h1><span class="color-R">D</span>atos del equipo</h1>
</section>


@* Tabla de resultados *@
<article class="row border-R tablas rounded-3 text-dark mt-3 ">

    <table class="text-center mantenimiento">

        <thead>
            <tr class="border-R">
                <th class="border-R" id="Nserie" style="width: 8%;">
                    N°. Serie
                </th>
                <th class="border-R" id="marca">
                    Marca
                </th>
                <th class="border-R" id="nombre">
                    Tipo
                </th>
                <th class="border-R" id="motor">
                    Motor
                </th>
                <th class="border-R" id="capacidad">
                    Capacidad
                </th>
                <th class="border-R" id="ubicación">
                    Ubicación
                </th>
                <th class="border-R" id="funcion" style="width:15%">
                    Función
                </th>
                <th class="border-R" id="estado">
                    Estatus
                </th>
                <th class="border-R" id="adquisición">
                    Costo
                </th>
                <th class="border-R" id="adquisición">
                    Mantenimiento
                </th>
                <th class="border-R" id="detalles">
                    Editar
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipo.NumSerie) </td>
                <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipo.Variante.Marca.Nombre) </td>
                <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipo.Variante.TipoEquipo.Nombre) </td>
                <td class="border-R p-1"> @Html.DisplayFor(modelItem => Model.Equipo.Variante.Motor.Nombre) </td>
                <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipo.Variante.Capacidad) </td>
                <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipo.Ubicacion.Nombre) </td>
                <td class="border-R" style="text-align: justify;">
                    @Html.DisplayFor(modelItem => Model.Equipo.Funcion)
                </td>
                <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipo.Estatus.Nombre) </td>
                <td class="border-R"> @CostoAdquisicion.ToString("C", cultureInfo) </td>
                <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipo.Variante.Periodo.Nombre) </td>
                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                @* <td class="border-R">
                <label class="toggle-switch">
                <input class="chbxEstado" data-url="Equipos/UpdateStatus/" type="checkbox" checked="@Model.Equipo.Estado" value="@(Model.Equipo.ID)">
                <div class="toggle-switch-background">
                <div class="toggle-switch-handle"></div>
                </div>
                </label>
                </td> *@
                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                <td class="border-R">
                    <img class="remover" src="~/images/pen-to-square-solid.svg" id="btn-edit" />
                </td>
                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
            </tr>
        </tbody>

    </table>

</article>

@* Manteniminetos *@


@*Titulo *@
<aside class="row border-R text-center rounded-3 mt-4">
    <h1><span class="color-R">M</span>antenimiento del equipo</h1>
</aside>

<article class="row mt-4 justify-content-between HEADER-SECTION-CONSULTAR-MTOS">

    @* Buscador por filtros *@
    <section class="text-center border-R rounded-2 align-items-center px-4">

        <h4 class="mt-3 mb-3"><span class="color-R">B</span>usqueda con filtros</h4>

        <form asp-action="FilterByTime" class="row text-center d-flex align-items-center mb-3">
            @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* Campos ocultos - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
            <input type="hidden" asp-for="JsonMtosProgramados" />
            <input type="hidden" asp-for="EquipoID" />
            @* Campos ocultos - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
            <div class="col-4 col-lg-3">
                <strong>Proveedor</strong>
                <select asp-for="filterMtos.ProveedorID" asp-items="Model.Proveedores" class="search">
                    <option value="">Selecciona un proveedor</option>
                </select>
            </div>

            <div class="col-4 col-lg-3">
                <strong>Fecha 1</strong>
                <input asp-for="filterMtos.FechaUno" class="search" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Fecha 1" />
            </div>

            <div class="col-4 col-lg-3">
                <strong>Fecha 2</strong>
                <input asp-for="filterMtos.FechaDos" class="search" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Fecha 2" />
            </div>

            <div class="col-12 col-lg-3">
                <input type="submit" value="Buscar" class="btn-des w-100 mt-4" style="padding:2%;">
            </div>
        </form>

    </section>

    @* Estado de aplicación*@
    <section class="text-center border-R rounded-2">

        <h4 class="mt-2 mb-3 mt-3"><span class="color-R">E</span>stado de aplicación</h4>

        <div class="row text-center mb-2 d-flex align-content-center">
            <div class="mt-3 px-5">
                <form asp-action="FilterByStatus" id="formsEstado">
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @* Campos ocultos - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <input type="hidden" asp-for="JsonMtosProgramados" />
                    <input type="hidden" asp-for="EquipoID" />
                    @* Campos ocultos - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <select asp-for="EdoAplicacion" id="SelectEstado" class="search mb-3" style="width:100%;">
                        <option value="4">Mostrar Todos</option>
                        @foreach (var estado in Model.estados)
                        {
                            <option value="@estado.Key">@estado.Value</option>
                        }
                    </select>
                </form>
            </div>
        </div>

    </section>
</article>

@* Tabla de mantenimientos *@
<article class="row rounded-3 text-dark mt-3 mb-4 tabla-main">

    <table class="text-center mantenimiento">

        <thead>

            <tr class="border-R">

                <th class="border-R" style="width: 15%;">
                    Costo de Mantenimiento
                </th>
                <th class="border-R" style="width: 15%;">
                    Costo de Reparación
                </th>
                <th class="border-R Proveedor">
                    Proveedor
                </th>
                <th class="border-R Proveedor">
                    Tipo de Mantenimiento
                </th>
                <th class="border-R Proveedor" style="width:18%;">
                    Observaciones
                </th>
                <th class="border-R" style="width:6%;">
                    Estado
                </th>
                <th class="border-R">
                    Día de aplicación
                </th>
                <th class="border-R">
                    Ultima Aplicación
                </th>
                <th class="border-R">
                    Proxima Aplicación
                </th>
                <th class="border-R" style="width:7%;">
                    Consultar
                </th>

            </tr>

        </thead>

        <tbody>

            @foreach (var iteam in Model.MtosProgramados)
            {
                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                string cadena = string.Empty;
                if (iteam.EstadoAplicacion == "Pendiente") cadena = "Registrar";
                else cadena = "Editar";
                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                <tr>
                    <td class="border-R"> @Html.DisplayFor(modelItem => iteam.CostoMantenimiento)</td>
                    <td class="border-R"> @Html.DisplayFor(modelItem => iteam.CostoReparacion)</td>
                    <td class="border-R px-1"> @Html.DisplayFor(modelItem => iteam.Proveedor)</td>
                    <td class="border-R"> @Html.DisplayFor(modelItem => iteam.TipoMantenimiento)</td>
                    <td class="border-R" style="text-align:justify;">
                        @Html.DisplayFor(modelItem => iteam.Observaciones)
                    </td>
                    <td class="border-R px-1"> @Html.DisplayFor(modelItem => iteam.EstadoAplicacion)</td>
                    <td class="border-R"> @Html.DisplayFor(modelItem => iteam.DiaDeAplicacion)</td>
                    <td class="border-R"> @Html.DisplayFor(modelItem => iteam.UltimaAplicacion)</td>
                    <td class="border-R"> @Html.DisplayFor(modelItem => iteam.ProximaAplicacion)</td>
                    <td class="border-R">
                        <input type="button" class="btn-Mto btn-des px-2" value="@cadena" data-object="@JsonConvert.SerializeObject(iteam)">
                        @*@if (iteam.EstadoAplicacion == "Pendiente")
                    {
                    <input type="button" class="btn-Mto btn-des w-100" value="Pendiente" data-object="@JsonConvert.SerializeObject(iteam)">
                    }else
                    {
                    <br />
                    <p> - </p>
                    }*@
                    </td>
                </tr>
            }

        </tbody>

    </table>

</article>

<article class="row rounded-3 text-dark">

    <table class="text-center mantenimiento">
        <thead>
            <tr class="border-R">
                <td class="border-R px-2" style="width: 15%;">
                    <h3><span class="color-R"></span> @Model.TotalGtosMto</h3>
                </td>
                <td class="border-R px-2" style="width: 15%;">
                    <h3><span class="color-R"></span> @Model.TotalGtosRep</h3>
                </td>
                <td colspan="5">
                    <h2><span class="color-R">T</span>otal de gastos</h2>
                </td>
            </tr>
        </thead>
    </table>
</article>

<br />

@* Despegable DOWN *@
<aside id="despegableDown" class="rounded-2 mt-5">
    <div id="contenidoDown">
        <form id="form-mto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* Campos ocultos - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
            <input asp-for="MantenimientoID" id="txtMantenimientoID" type="hidden">
            <input asp-for="EquipoID" type="hidden">
            @* Campos ocultos - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@

            <h4 id="accion-forms" class="pt-3"></h4>

            <div class="textDes" style="text-align:justify;">
                <section class="row pt-3 bg-white p-2 rounded text-black">
                    <h6 id="Leyenda-Mto"></h6>
                </section>
            </div>

            <div class="row p-1">
                <label for="">Seleccione el tipo de mantenimiento</label>
                <select asp-for="Mantenimiento.TipoMantenimientoID" asp-items="Model.TipoMtos" class="textDes">
                    <option value="">Tipo de mantenimiento</option>
                </select>
                <span asp-validation-for="Mantenimiento.TipoMantenimientoID" class="text-danger"></span>
            </div>

            <div class="row p-1">
                <label for="">Seleccione el proveedor que realizara el trabajo</label>
                <select asp-for="Mantenimiento.ProveedorID" asp-items="Model.Proveedores" class="textDes">
                    <option value="">Proveedor</option>
                </select>
                <span asp-validation-for="Mantenimiento.ProveedorID" class="text-danger"></span>
            </div>

            <div class="row p-1">
                <label for="">Costo del mantenimiento</label>
                <input asp-for="Mantenimiento.CostoMantenimiento" type="text" placeholder=" " class="textDes">
                <span asp-validation-for="Mantenimiento.CostoMantenimiento" class="text-danger"></span>
            </div>

            <div class="row  p-1">
                <label for="">(Si aplica). Escribe el costo de Reparación</label>
                <input asp-for="Mantenimiento.CostoReparacion" type="text" placeholder=" " class="textDes">
                <span asp-validation-for="Mantenimiento.CostoReparacion" class="text-danger"></span>
            </div>

            <div class="row p-1">
                <label>Fecha de aplicación</label>
                <input asp-for="Mantenimiento.FechaAplicacion" type="date" class="textDes">
                <span asp-validation-for="Mantenimiento.FechaAplicacion" class="text-danger"></span>
            </div>

            <div class="row  p-1">
                <label for="">Observaciones</label>
                <textarea asp-for="Mantenimiento.Observaciones" rows="3" class="textDes" cols="50"></textarea>
                <span asp-validation-for="Mantenimiento.Observaciones" class="text-danger"></span>
            </div>

            <div class="row p-1 pb-2">
                <input asp-action="CreateOneMto" asp-controller="Mantenimientos" type="submit" value="Agregar" class="btn-des" id="btn-add">
                <input asp-action="UpdateOneMto" asp-controller="Mantenimientos" type="submit" value="Editar" class="btn-des d-none" id="btn-update">
            </div>
        </form>
    </div>

    <div class="headerDespegable border-R">
        <h2> <span class="color-R">N</span>uevo mantenimiento</h2>
        <img src="~/images/up.svg" class="btnDes" alt="DOWN" id="Down">
    </div>
</aside>


@section Scripts {
    @{
        // <script src="~/js/Desplegable.js" asp-append-version="true"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_MtosConsultar");
        <script>AlertaJS(@Html.Raw(Json.Serialize(Model.AlertaEstado)) )</script>
    }
}

