@model Condominios.Models.ViewModels.CtrolGastosMantenimiento.CtrolGastosMantenimientoViewModel
@{
    ViewData["Title"] = "Gastos";
#pragma warning disable CS8602
}

@*Contenido*@
<div class="row border-R rounded-2 mt-3 text-center">
    <h1><span class="color-R">G</span>astos de mantenimiento</h1>
</div>

@* Buscadores *@
<article class="row mt-4 text-center justify-content-between">

    @* BUSCADOR POR FILTRO *@

    <section class="col-12 col-md-12  pt-2">
        <aside class="row justify-content-center" style="height:100%">
            <form asp-action="BusquedaFiltros" class="col-12 border-R d-flex justify-content-center flex-column">
                <h5 class="mt-2 mb-3"><span class="color-R">B</span>úsqueda con filtros</h5>
                <div class="text-danger"></div>

                <div class="row text-center d-flex justify-content-between">

                    @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <div class="col d-flex align-items-center justify-content-center">
                        <select asp-for="Filtros.ProveedorID" class="select" asp-items="@Model.Proveedores">
                            <option value="0">Proveedor</option>
                        </select>
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <div class="col d-flex align-items-center justify-content-center">
                        <select asp-for="Filtros.MarcaID" asp-items="Model.Marcas" class="select">
                            <option value="0">Marca</option>
                        </select>
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <div class="col d-flex align-items-center justify-content-center">
                        <select asp-for="Filtros.UbicacionID" asp-items="Model.Ubicaciones" class="select">
                            <option value="0">Ubicación</option>
                        </select>
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <div class="col d-flex align-items-center justify-content-center">
                        <select asp-for="Filtros.TipoID" asp-items="Model.TipoEquipos" class="select">
                            <option value="0">Equipo</option>
                        </select>
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <div class="col d-flex align-items-center justify-content-center">
                        <select asp-for="Filtros.MotorID" asp-items="Model.Motores" class="select">
                            <option value="0">Motor</option>
                        </select>
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <div class="col d-flex align-items-center justify-content-center">
                        <input asp-for="@Model.Filtros.Fecha1" class="select" type="text" id="fechaInput" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Fecha 1" />
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <div class="col d-flex align-items-center justify-content-center">
                        <input asp-for="@Model.Filtros.Fecha2" class="select" type="text" id="fechaInput" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Fecha 2" />
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <div class="col row d-flex align-items-center justify-content-center">
                        <input type="submit" value="Buscar" class="botonTrue" style="width: 90%">
                        @* <button type="submit" name="boton" value="Todos" class="botonTrue col-12" style="width: 90%;">Todos</button> *@
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@

                </div>
                <br />
            </form>
        </aside>
    </section>

</article>

@* Filtro por página ARREGLAR LA CHINGADERA ESTA!!!! *@ 
<article class="row text-dark mt-3 HEADER-SECTION-GTOS-MTO">

    <div class="bg-R rounded-3" style="display:grid; grid-template-columns: repeat(2, 1fr)" >
        <section class="p-1 text-light numerPage1 text-center">
            <h4 for="rowsPerPage">Filas por página:</h4>
        </section>

        <section class="p-1 d-flex numerPage justify-content-start">
            <select id="rowsPerPage" class="option" onchange="cambiarFilasPorPagina()">
                <option value="3">3</option>
                <option selected value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>
        </section>
    </div>

    <div class="border-R d-flex justify-content-center align-items-center">
        <section class="p-1 text-center">
            <h4><span class="color-R">R</span>esultados encontrados: <span class="color-R">@Model.ConjuntoViewModel.Count()</span></h4>
        </section>
    </div>

</article>


@* Tabla*@
<article class="row rounded-3 text-dark mt-3">

    <table class="text-center border border-primary manteniminetos" id="myTable">
        <thead>

            <tr class="border-R">
                <th style="width: 15%;" class="border-R">
                    Tipo
                </th>
                <th style="width: 10%;" class="border-R">
                    Cantidad
                </th>
                <th class="border-R">
                    Costo total de mantenimientos
                </th>
                <th class="border-R">
                    Costo total de reparaciones
                </th>
                <th class="border-R">
                    Costo total de adquisición
                </th>
            </tr>

        </thead>

        <tbody>

            @for (int i = 0; i < Model.ConjuntoViewModel.Count; i++)
            {
                <tr>
                    <td class="border-R">@Model.ConjuntoViewModel[i].Variante</td>
                    <td class="border-R">@Model.ConjuntoViewModel[i].Cantidad</td>
                    <td class="border-R">@Model.ConjuntoViewModel[i].CostoMto</td>
                    <td class="border-R">@Model.ConjuntoViewModel[i].CostoReparacion</td>
                    <td class="border-R">@Model.ConjuntoViewModel[i].CostoAdquisicion</td>

                </tr>
            }
        </tbody>

    </table>

    <section class="row text-center">
        <div class="pt-2">
            <h5><span class="color-R">M</span>ás resultados</h5>
        </div>
        <div class="pagination d-flex justify-content-center">
        </div>
    </section>
</article>


<article class="row rounded-3 text-dark mt-3">

    <table class="text-center border border-primary manteniminetos" id="myTable">
        <thead>

            <tr class="border-R">
                <th style="width: 25%;" class="border-R">
                    Cantidad
                </th>
                <th class="border-R">
                    Costo total de mantenimientos
                </th>
                <th class="border-R">
                    Costo total de reparaciones
                </th>
                <th class="border-R">
                    Costo total de adquisición
                </th>
            </tr>

        </thead>

        <tbody>

            <tr>
                <td class="border-R"> <h5>Total de gastos</h5>  </td>
                <td class="border-R"><h3><span class="color-R">@Model.TotalCostoMtos</span></h3></td>
                <td class="border-R"><h3><span class="color-R">@Model.TotalCostoReparacion</span></h3></td>
                <td class="border-R"><h3><span class="color-R">@Model.TotalCostoAdquisicion</span></h3></td>

            </tr>

        </tbody>

    </table>
</article>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/Desplegable.js"></script>
        <script src="~/js/Tablas.js"></script>
        <script>AlertaJS(@Html.Raw(Json.Serialize(Model.AlertaEstado)) )</script>
    }
}