@model Condominios.Models.ViewModels.CtrolMantenimientos.MtosPendientesViewModel
@{
    ViewData["Title"] = "Inicio";
}

<main class="container-fluid">
    <article class="row mb-4 text-center">
        <div>
            <div class="border-R rounded-3 mt-3 p-2">
                <h1><span class="color-R">M</span>antenimientos pendientes </h1>
            </div>
        </div>
    </article>

    <article class="card-container pb-5">
        @foreach (var iteam in Model.Conjuntos)
        {
            @* *- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -* *@
            <section>
                <div class="card-task bg-R h-100 rounded-3">
                    <h1 class="pt-4">Fecha de aplicación</h1>
                    <h2 class="pb-4">@iteam.FormatDateAplic</h2>
                    <div class="card-text">
                        <p>
                            <strong>Tipo de equipo: </strong>@iteam.TipoEquipo
                        </p>
                        <p>
                            <strong>Periodo de mantenimientos: </strong>@iteam.Periodo
                        </p>
                        <p>
                            <strong>Número de equipos: </strong> @iteam.Cantidad
                        </p>
                    </div>
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <form asp-action="ConfirmarMtos">
                        @* - - - - - - - - - - - - - - - - - - - *@
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Json" type="hidden" value="@iteam.JsonEquipos" />
                        @* - - - - - - - - - - - - - - - - - - - *@
                        <button class="transparent-button " type="submit">
                            <img src="~/images/eye-solid-White.svg" class="btn-task mb-1" />
                        </button>
                        <p class="text-center"> <strong>Confirmar</strong> </p>
                    </form>
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                </div>
            </section>
            @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
        }
    </article>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        // <script>AlertaJS(@Html.Raw(Json.Serialize(Model.AlertaEstado)) )</script>

    }
}

