@model IEnumerable<Condominios.Models.Entities.Variante>

@{
    ViewData["Title"] = "Index";
}

<h1>Variantes de los tipos de equipos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead class="bg-R">
        <tr class="border-R">
            <th class="border-R">
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th class="border-R">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th class="border-R">
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th class="border-R">
                @Html.DisplayNameFor(model => model.Motor)
            </th>
            <th class="border-R">
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th class="border-R">
                @Html.DisplayNameFor(model => model.Funcion)
            </th>
            <th class="border-R">
                @Html.DisplayNameFor(model => model.TipoEquipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motor.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodo.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcion.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoEquipo.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
