@model Condominios.Models.ViewModels.VarianteViewModel

@{
    ViewData["Title"] = "Proveedores";
}

@* Despegable 1 *@
<aside class="row">

    <article class="col-12 col-lg-3  border-R rounded-3 text-dark" id="form">

        <section class="row text-center text-dark" style="background: #fff;">

            <h3 class="p-1 ">
                <span class="color-R">C</span>lasificación <img src="~/images/down.svg"
                                                                alt="down" class="down" id="down">
                <img src="~/images/up.svg" class="down d-none" alt="up" id="up">
            </h3>

            <div class="text-light text-center " id="form-body">

                <h3 class="contorno bg-R mt-3 mx-auto p-3">Registra clasificación de equipos</h3>

                @*FORMULARIO - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MarcaID" class="control-label"></label>
                        <select asp-for="MarcaID" class="form-control" asp-items="ViewBag.MarcaID"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="MotorID" class="control-label"></label>
                        <select asp-for="MotorID" class="form-control" asp-items="ViewBag.MotorID"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeriodoID" class="control-label"></label>
                        <select asp-for="PeriodoID" class="form-control" asp-items="ViewBag.PeriodoID"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoEquipoID" class="control-label"></label>
                        <select asp-for="TipoEquipoID" class="form-control" asp-items="ViewBag.TipoEquipoID"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Capacidad" class="control-label"></label>
                        <input asp-for="Capacidad" class="form-control" />
                        <span asp-validation-for="Capacidad" class="text-danger"></span>
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                    <div class="form-group">
                        @*<label class="control-label">Función existente</label>*@
                        @*<select id="funcion1" asp-for="LaFuncion" class="form-control" asp-items="ViewBag.FuncionID" onchange="ValidarCampos()">
                            <option value="">Selecciona un tipo de equipo</option>
                        </select>*@
                        <label asp-for="LaFuncion" class="control-label"></label>
                        <input id="marca" asp-for="LaFuncion" class="form-control" />
                        <span asp-validation-for="LaFuncion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>

                @*FORMULARIO - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@

            </div>

        </section>

    </article>

    <article class="col-12 col-lg-9"></article>

</aside>

<br />

@* Contenido 1 *@
<main class="container-fluid mt-5">

    @* Titulo *@
    <article class="row border-R text-center rounded-3">
        <h1><span class="color-R">C</span>lasificación de equipos</h1>
    </article>

    @* Tabla1 *@
    <article class="row border-R rounded-3 text-dark mt-3 mb-3 tabla-main">

        <table class="text-center clasificacion ">

            <thead>

                <tr class="border-R">
                    <th class="border-R">
                        @Html.DisplayNameFor(model => model.Capacidad)
                    </th>
                    <th class="border-R">
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th class="border-R">
                        @Html.DisplayNameFor(model => model.Marca)
                    </th>
                    <th class="border-R">
                        @Html.DisplayNameFor(model => model.Motor)
                    </th>
                    <th class="border-R">
                        @Html.DisplayNameFor(model => model.Periodo)
                    </th>
                    <th class="border-R">
                        @Html.DisplayNameFor(model => model.Funcion)
                    </th>
                    <th class="border-R">
                        @Html.DisplayNameFor(model => model.TipoEquipo)
                    </th>
                    <th>Estado</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.variantes)
                {
                    <tr>
                        <td class="border-R">
                            @Html.DisplayFor(modelItem => item.Capacidad)
                        </td>
                        <td class="border-R">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td class="border-R">
                            @Html.DisplayFor(modelItem => item.Marca.Nombre)
                        </td>
                        <td class="border-R">
                            @Html.DisplayFor(modelItem => item.Motor.Nombre)
                        </td>
                        <td class="border-R">
                            @Html.DisplayFor(modelItem => item.Periodo.Nombre)
                        </td>
                        <td class="border-R">
                            @Html.DisplayFor(modelItem => item.Funcion.Nombre)
                        </td>
                        <td class="border-R">
                            @Html.DisplayFor(modelItem => item.TipoEquipo.Nombre)
                        </td>
                        <td class="border-R">
                            <label class="toggle-switch mt-2">
                                <input type="checkbox" @(item.Estado ? "checked" : "")>
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td class="border-R">
                            <img class="remover" src="~/images/pen-to-square-solid.svg" />
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </article>

    @* Titulo *@
    <article class="row border-R text-center rounded-3">
        <h1><span class="color-R">P</span>roveedor</h1>
    </article>

    @* Tabla2 *@
    <article class="row border-R rounded-3 text-dark mt-3 mb-3 tabla-main">

        <table class="text-center">

            <thead>

                <tr class="border-R">
                    <th class="border-R" id="nombre">
                        Nombre
                    </th>
                    <th class="border-R">
                        Teléfono
                    </th>
                    <th class="border-R" id="direccion">
                        Dirección
                    </th>
                    <th class="border-R" id="correo">
                        Correo
                    </th>
                    <th class="border-R" id="estado">
                        Estado
                    </th>
                    <th class="border-R" id="detalles">
                        Editar
                    </th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td class="border-R">000000</td>
                    <td class="border-R">xxxxxxx</td>
                    <td class="border-R">xxxxxxx</td>
                    <td class="border-R">xxxxxxx</td>
                    <td class="border-R">
                        <label class="toggle-switch mt-2">
                            <input type="checkbox">
                            <div class="toggle-switch-background">
                                <div class="toggle-switch-handle"></div>
                            </div>
                        </label>
                    </td>
                    <td class="border-R">
                        <img class="remover" src="~/images/pen-to-square-solid.svg" />
                    </td>
                </tr>

            </tbody>

        </table>

    </article>
</main>

@* Despegable 2 *@
<aside class="row position-fixed fixed-bottom" style="padding-right:1%;">

    <article class="col-12 col-lg-9 "></article>

    <article class="col-12 col-lg-3 border border-dark bg-R rounded-3" id="form-b">

        <section class="row text-light text-center justify-content-center" id="fBody">

            <h4 class="pt-3">Registra un proveedor</h4>

            @*Nombre*@
            <div class="row pt-1">
                <h5>Nombre</h5>
            </div>
            <div class="row d-flex justify-content-center pt-1">
                <input type="text" class="txtForm">
            </div>

            @*Teléfono*@
            <div class="row pt-1">
                <h5>Teléfono</h5>
            </div>
            <div class="row d-flex justify-content-center pt-1">
                <input type="text" class="txtForm">
            </div>

            @*Dirección*@
            <div class="row pt-1">
                <h5>Dirección</h5>
            </div>
            <div class="row d-flex justify-content-center pt-1">
                <input type="text" class="txtForm">
            </div>

            @*Correo*@
            <div class="row pt-1">
                <h5>Correo</h5>
            </div>
            <div class="row d-flex justify-content-center pt-1">
                <input type="text" class="txtForm">
            </div>

            @*Boton*@
            <div class="row pt-3 mb-2 d-flex justify-content-center">
                <input type="button" value="Agregar" class="boton" style="width:80%; margin:auto;">
            </div>

            <br>
        </section>

        <div class="row text-center" style="background: #fff;">

            <h3 class="pt-2 pb-1 ">

                <span class="color-R">P</span>roveedores <img src="~/images/up.svg" alt="up"
                                                              class="down" id="up1">
                <img src="~/images/down.svg" class="down d-none" alt="down" id="down1">

            </h3>

        </div>

    </article>

</aside>

<script>

      function validarFormulario() {
        // Obtener los valores de los campos
        var selectValue = document.getElementById('funcion1').value;
        var inputValue = document.getElementById('marca').value;

        // Verificar si ambos campos están llenos o ambos están vacíos
        if ((selectValue && inputValue) || (!selectValue && !inputValue)) {
            // Mostrar mensaje de error
            document.getElementById('Error2').innerText = 'Debe llenar solo uno de los dos campos.';
            document.getElementById('Error2').style.display = 'block';

            // Evitar el envío del formulario
            return false;
        }

        // Ocultar el mensaje de error y permitir el envío del formulario
        document.getElementById('Error2').style.display = 'none';
        return true;
    }

    // Esta función también se puede llamar cuando cambian los valores de los campos
    function ValidarCampos() {
        validarFormulario();
    }

    //function ValidarCampos() {
    //    var nombreInput = document.getElementById('funcion1');
    //    var selectInput = document.getElementById('marca');
    //    var ErrorNombre2 = document.getElementById('Error2');

    //    ErrorNombre2.style.display = 'none';

    //    if (nombreInput.value && selectInput.value) {
    //        ErrorNombre2.innerText = "Seleccione una de las opciones para registrar el nombre";
    //        ErrorNombre2.style.display = 'inline';
    //        return false;
    //    }

    //}
    //function validarFormulario() {
    //    var nombreInput = document.getElementById('funcion1');
    //    var selectInput = document.getElementById('marca');
    //    var ErrorNombre = document.querySelector('[data-valmsg-for="VarianteEquipo.LaFuncion"]');

    //    var formId = 'fomsVariante';
    //    var form = document.getElementById(formId);

    //    ErrorNombre.style.display = 'none';

    //    if (!nombreInput.value && !selectInput.value) {
    //        console.log("Seleccione");
    //        ErrorNombre.style.display = 'inline';

    //        return false;
    //    }else{
            
    //        form.submit();
    //    }
    //}
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/despegable.js"></script>
    }
}