@model Condominios.Models.ViewModels.Perfil.PerfilViewModel

<aside class="row mb-3">

    <section class="col-12 col-lg-4 rounded-2" id="despegableUP">
        <div class="row border-R titleDespegable rounded-2">
            <h2> <span class="color-R">N</span>uevo usuario <img  class="btnDes" alt="" id="up"></h2>
        </div>

        <div id="contenidoUP">

            <h4 class="pt-3">Datos del usuario</h4>

            @*FORMULARIO DESPLEGABLE DE EQUIPOS- - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
            <form asp-action="UpdateUser" onsubmit="return UpdateUser()">
                <input asp-for="ID"  type="hidden" value="" />

                <div class="row p-2">
                    <h5><b>Nombre</b></h5>
                    <input asp-for="DatosUser.Nombre" class="textDes" type="text" />
                </div>

                <div class="row p-2">
                    <h5><b>Correo</b></h5>
                    <input asp-for="DatosUser.Correo" class="textDes" type="email" />
                </div>

                <div class="row p-2">
                    <h5><b>Contraseña</b></h5>
                    <input asp-for="DatosUser.Password" class="textDes" type="text" />
                </div>

                <div class="row p-2">
                    <h5><b>Confirmar contraseña</b></h5>
                    <input asp-for="DatosUser.ConfPassword" class="textDes" type="text" />
                    <span id="Error" class="text-danger" style="display: none;">Las contraseñas no coninciden</span>
                </div>

                <div class="row p-2 pb-3">
                    <input type="submit" class="btn-des" value="Confirmar" />
                </div>

            </form>
            @*FORMULARIO - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
        </div>

    </section>

    <div class="col-12 col-lg-8">
    </div>

</aside>

<br />



<section class="row border-R text-center mt-4 rounded-2">
    <h1><span class="color-R">A</span>dministración</h1>
</section>

<section class="row border-R text-center mt-3 rounded-2">
    <article class="col-lg-2 col-12 d-flex align-items-center justify-content-center border-R p-2">
        <img src="~/images/user-solid.svg" class="usuario" />
    </article>
    <article class="col bg-R text-light text-center">
        <h3><b>Administrador</b></h3>

        <form asp-action="UpdateAdmin" class="row justify-content-center  p-2" onsubmit="return UpdateAdmin()">
            <div class="col-12 col-lg-10  ">

                <div class="row">

                    @*Vombre y correo*@
                    <div class="col ">

                        <div class="row ">

                            <div class="col-4 ">
                                <h5 class="pt-1"><b>Nombre:</b></h5>
                            </div>

                            <div class="col d-flex align-items-center">
                                <input  asp-for="DatosUser.Nombre" type="text" placeholder="Nombre" class="formUsuario" value="@Model.Admin.Nombre">
                            </div>

                        </div>

                        <div class="row pt-2 ">

                            <div class="col-4 ">
                                <h5 class="pt-1"><b>Correo:</b></h5>
                            </div>

                            <div class="col d-flex align-items-center">
                                <input  asp-for=DatosUser.Correo type="text" placeholder="Correo" class="formUsuario" value="@Model.Admin.Correo">
                            </div>

                        </div>

                    </div>


                        @*Contraseñas*@
                    <div class="col ">

                        <div class="row ">

                            <div class="col-5 ">
                                <h5 class="pt-1"><b>Contraseña:</b></h5>
                            </div>

                            <div class="col d-flex align-items-center">
                                <input id="passwordOne" asp-for="DatosUser.Password" type="text" placeholder="Nueva Contraseña" class="formUsuario">
                            </div>

                        </div>

                        <div class="row pt-2 ">

                            <div class="col-5   ">
                                <h5 class="pt-1"><b>Confirmar contraseña:</b></h5>
                            </div>

                            <div class="col d-flex align-items-center flex-column">
                                <input id="passwordTwo" asp-for="DatosUser.ConfPassword" type="text" placeholder="Confirmar Contraseña" class="formUsuario">
                                <span id="PasswordError" class="text-light" style="display: none;">Las contraseñas no coninciden</span>
                            </div>

                        </div>

                    </div>

                </div>

                @*Boton*@
                <div class="row my-3 ">
                    <input type="submit" value="Guardar Cambios" class="btn-des p-1" formnovalidate>
                </div>

            </div>

            @*<div class="col-12 col-md-1 "></div>

            <div class="col-4 col-md-2  text-start">
                <div class="row ">
                    <h5><b>Nombre:</b></h5>
                </div>

                <div class="row pt-3">
                    <h5><b>Correo:</b></h5>
                </div>

                <div class="row pt-3 ">
                    <h5><b>Contraseña: </b></h5>
                </div>
            </div>

            <div class="col-4 col-md-6  d-flex  flex-column justify-content-around text-start">

                <div class="row  ">
                    <input asp-for="DatosUser.Nombre" type="text" placeholder="Nombre" class="formUsuario" value="@Model.Admin.Nombre">
                </div>
                <div class="row ">
                    <input asp-for=DatosUser.Correo type="text" placeholder="Correo" class="formUsuario" value="@Model.Admin.Correo">
                </div>

                <div class="row ">
                    <input asp-for="DatosUser.Password" type="text" placeholder="Nueva Contraseña" class="formUsuario">
                </div>

                <div class="row ">
                    <input asp-for="DatosUser.ConfPassword" type="text" placeholder="Confirmar Contraseña" class="formUsuario">
                    <span id="PasswordError" class="text-danger" style="display: none;">Las contraseñas no coninciden</span>
                </div>
            </div>

            <div class="col-4 col-md-3  d-flex align-items-start flex-column justify-content-around text-start">

                <div>
                    <input type="submit" value="Guardar Cambios" class="btn-des" formnovalidate>
                </div>
*@

               

            @*</div>*@

        </form>

    </article>
</section>

<section class="row border-R text-center mt-3 rounded-2">
    <h3><span class="color-R">U</span>suarios</h3>
</section>


<section class="row text-center mt-2 justify-content-between rounded-2">

    @for (var i = 0; i < Model.Usuarios.Count; i++)
    {
        <div class="col-lg-4 col-12 justify-content-center d-flex pt-2  mb-4 ">
            <div class="card border-R text-dark rounded-3 ">
                <div class=" pt-2">
                    <img src="~/images/user-solid.svg" class="usuario" />
                </div>

                <h4 class="card-title text-center"><b> </b></h4>

                <div class="card-body text-center text-sm-start text-light bg-R">

                    <div class="row">
                        
                        <div class="col">
                            <h5 class="card-text">Nombre :</h5>
                        </div>
                    
                        <div class="col">
                            <h5 class="card-text"><b>@Model.Usuarios[i].Nombre</b></h5>
                        </div>
                    
                    </div>

                    <div class="row py-3">

                        <div class="col">
                            <h5 class="card-text">Correo :</h5>
                        </div>
                    
                        <div class="col ">
                            <h5 class="card-text"><b>@Model.Usuarios[i].Correo</b></h5>
                        </div>
                    </div>

                    <div class="row pt-3">

                        <div class="col d-flex flex-column align-items-center text-center  justify-content-center ">
                            <img src="~/images/pen-to-square-solidW.svg" class="remover" data-parametro="@(Model.Usuarios[i].ID)" />
                            <b>Editar</b>
                        </div>

                        <div class="col d-flex flex-column align-items-center text-center  justify-content-center">
                            <img src="~/images/trash-can-solid.svg" class="editarUsuario" data-url="Perfil/Delete/" value="@(Model.Usuarios[i].ID)"/>
                            <b>Eliminar</b>
                        </div>

                        <div class="col d-flex flex-column align-items-center text-center  justify-content-center">
                            <label class="toggle-switch">
                                <input class="chbxEstado" data-url="Perfil/Acceso/" type="checkbox" checked="@Model.Usuarios[i].Validado" value="@(Model.Usuarios[i].ID)">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                            <b>Estado</b>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</section>

@section Scripts {
    @{
        <script src="~/js/PerfilScripts/Perfil.js"></script>
        <script src="~/js/TipoEquiposScripts/EstadoCheckbox.js" asp-append-version="true"></script>
        <script src="~/js/Desplegable.js"></script>
        <script src="~/js/PerfilScripts/Editar.js" asp-append-version="true"></script>
        <script>AlertaJS(@Html.Raw(Json.Serialize(Model.AlertaEstado)) )</script>

    }
}

<style>
    /*CREA UNA HOJA DE ESTILOS Y METE ESTO*/

    /*Usuarios*/
    .usuario {
        height: 3.5rem;
    }

    .editarUsuario {
        height: 1.6rem;
        cursor: pointer;
    }

        .editarUsuario:hover {
            height: 1.8rem;
        }

    .formUsuario {
        width: 85%;
        margin: auto;
        padding: 1.1%;
        border-radius: 5px;
        border: solid 1px #652022;
    }

    .form-Editar {
        width: 97%;
    }

    .actualizarBtn {
        border: 1px solid #7b7676;
        font-family: inherit;
        width: 86%;
        margin: auto;
        background: #d5e8d4;
        border-radius: 5px;
        font-weight: bold;
        color: #545151;
    }

        .actualizarBtn:hover {
            background: #8bb989;
            color: #ffffff;
        }

    .card {
        width: 100%;
    }

    .editarUsuario {
        height: 1.6rem;
        cursor: pointer;
    }

        .editarUsuario:hover {
            height: 1.8rem;
        }
</style>
