@using Microsoft.AspNetCore.Identity;
@{
    Dictionary<int, string> Modulos = new Dictionary<int, string>()
    {
        {1,"Mantenimientos Pendientes"},
        {2,"Catálogos"},
        {3,"Proveedores"},
        {4,"Datos Generales de los equipos"},
        {5,"Datos específicos de los equipos"},
        {6,"Gastos de mantenimiento"},
        {7,"Salir"},
        {8,"Perfil"}

    };
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Condominios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tablas.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Desplegable.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/catalogos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tipo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/task.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Condominios.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AlertaStyle.css" asp-append-version="true" />
</head>
<body class="bg-light">

    <main id="content-main" role="main" class="container-fluid">

        <article class="row">

            @*Menu*@
            <section class="flex-column" id="col-menu">

                @*Icono de hamburgesa*@
                <div class="pt-3 justify-content-end " style="width:100%;">
                    <div class="hamburger " id="hamburger">
                        <img src="~/images/bars-solid.svg" id="menu" class="menu" />
                    </div>
                </div>

                @*Body menu*@

                <div class="row pt-3 menuLogo" id="menuLogo">
                    <img src="~/images/Logo.svg" width="100%">
                </div>


                @*Perfil*@
                <div class="row mt-4 d-flex align-items-center flex-row justify-content-center">
                    <a asp-controller="Perfil" asp-action="Index" class="hyperLink">
                        <img src="~/images/user-solid.svg" class="icon-users" />
                        <h6><b class="titles">@Modulos[8]</b></h6>
                    </a>
                </div>

                @*Inicio*@
                <div class="row mt-4 d-flex align-items-center flex-row justify-content-center">
                    <a asp-controller="Home" asp-action="Pendientes" class="hyperLink">
                        <img src="~/images/house-solid.svg" class="icon-users" />
                        <h6><b class="titles">@Modulos[1]</b></h6>
                    </a>
                </div>
                
                @*Catalogos*@
                <div class="row mt-4 d-flex align-items-center flex-row justify-content-center">
                    <a asp-controller="Home" asp-action="Catalogos" class="hyperLink">
                        <img src="~/images/Book-solid.svg" class="book" />
                        <h6><b class="titles">@Modulos[2]</b></h6>
                    </a>
                </div>

                @*Proveedores*@
                <div class="row mt-4 d-flex align-items-center flex-row justify-content-center">
                    <a asp-controller="Home" asp-action="Proveedores" class="hyperLink">
                        <img src="~/images/users-solid.svg" class="icon-users" />
                        <h6><b class="titles">@Modulos[3]</b></h6>
                    </a>
                </div>


                @*Datos generales de equipos*@
                <div class="row mt-4 d-flex align-items-center flex-row justify-content-center">
                    <a asp-controller="Home" asp-action="TipoEquipos" class="hyperLink">
                        <img class="icon-menu" src="~/images/DatosGeneralesDeEquipos.svg" />
                        <h6><b class="titles">@Modulos[4]</b></h6>
                    </a>
                </div>

                @*Datos Especificos del equipo*@
                <div class="row pt-4 d-flex align-items-center flex-row justify-content-center">
                    <a asp-controller="Home" asp-action="Equipos" class="hyperLink">
                        <img class="icon-menu" src="~/images/engine.svg" />
                        <h6><b class="titles">@Modulos[5]</b></h6>
                    </a>
                </div>

                @*Gastos de mantenimiento*@
                <div class="row pt-4 d-flex align-items-center flex-row justify-content-center">
                    <a asp-controller="Home" asp-action="GastosDeMantenimiento" class="hyperLink">
                        <img class="icon-menu" src="~/images/circle-dollar-to-slot-solid.svg" />
                        <h6><b class="titles">@Modulos[6]</b></h6>
                    </a>
                </div>
                @*Salir*@
                <div class="row pt-4 d-flex align-items-center flex-row justify-content-center">
                    <a asp-controller="Acceso" asp-action="Logout" class="hyperLink">
                        <img class="icon-menu" src="~/images/right-from-bracket-solid.svg" />
                        <h6><b class="titles color-R">@Modulos[7]</b></h6>
                    </a>
                </div>

            </section>

            @*Overlay*@

            <section class="overlay" id="overlay"></section>

            @*Content*@

            <section id="content">

                @*Header*@
                <header class="row ">

                    <nav class="navbar navbar-expand-lg navbar-light bg-light">

                        <div class="container-fluid ">

                            <div class="col-lg-2 col-6">
                                <a class="navbar-brand" href="#">
                                    <img src="~/images/Logo.svg" width="100%">
                                </a>
                            </div>

                            <div class="col-6 text-end d-block d-lg-none">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsivo" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>

                        </div>
                    </nav>

                    @* Nav Responsive *@
                    <div class="collapse" id="navbarResponsivo">

                        <div class="row d-flex justify-content-center">

                            <div class="col-7">

                                @*Ususarios*@
                                <div class="row justify-content-between pb-1">
                                    <a asp-controller="Perfil" asp-action="Index" class="t-none link d-flex justify-content-start align-items-center">
                                        <img src="~/images/user-solid.svg" class="icons" />
                                        <b >@Modulos[8]</b>
                                    </a>
                                </div>

                                @*Inicio*@
                                <div class="row justify-content-between">
                                    <a asp-controller="Home" asp-action="Pendientes" class="t-none link d-flex justify-content-start align-items-center">
                                        <img class="icons" src="~/images/house-solid.svg" />
                                        <b>@Modulos[1]</b>
                                    </a>
                                </div>

                                @*Catálogos*@
                                <div class="row justify-content-between pt-2">
                                    <a asp-controller="Home" asp-action="Catalogos" class="t-none link d-flex justify-content-start align-items-center">
                                        <img class="icons text-center" src="~/images/Book-solid.svg" />
                                        <b>@Modulos[2]</b>
                                    </a>
                                </div>

                                @*Proveedores*@
                                <div class="row justify-content-between pt-2">
                                    <a asp-controller="Home" asp-action="Proveedores" class="t-none link d-flex justify-content-start align-items-center">
                                        <img class="icons" src="~/images/users-solid.svg" />
                                        <b>@Modulos[3]</b>
                                    </a>
                                </div>

                                @*Datos generales de equipos*@
                                <div class="row justify-content-between pt-2">
                                    <a asp-controller="Home" asp-action="TipoEquipos" class="t-none link d-flex justify-content-start align-items-center">
                                        <img class="icons" src="~/images/DatosGeneralesDeEquipos.svg" />
                                        <b>@Modulos[4]</b>
                                    </a>
                                </div>

                                @*Datos específicos de equipo*@
                                <div class="row justify-content-between pt-2">
                                    <a asp-controller="Home" asp-action="Equipos" class="t-none link d-flex justify-content-start align-items-center">
                                        <img class="icons" src="~/images/engine.svg" />
                                        <b>@Modulos[5]</b>
                                    </a>
                                </div>

                                @*Gastos de mantenimiento*@
                                <div class="row justify-content-between pt-2">
                                    <a asp-controller="Home" asp-action="GastosDeMantenimiento" class="t-none link d-flex justify-content-start align-items-center">
                                        <img class="icons" src="~/images/circle-dollar-to-slot-solid.svg" />
                                        <b>@Modulos[6]</b>
                                    </a>
                                </div>

                                @*Salir*@
                                <div class="row justify-content-center pt-2 pb-2">
                                    <a asp-controller="Acceso" asp-action="Logout" class="t-none link d-flex justify-content-center align-items-center">
                                        <img class="icons" src="~/images/right-from-bracket-solid.svg" />
                                        <h6><b class="color-R">@Modulos[7]</b></h6>
                                    </a>
                                </div>

                            </div>

                        </div>



                    </div>
                </header>

                @*Editable*@
                <article class="container-fluid" id="render">
                    @RenderBody()
                </article>

            </section>

        </article>
    </main>

    <script src="~/js/ApiClient.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/AlertaScript.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
