@model Condominios.Models.ViewModels.CtrolVarianteEquipo.VarianteViewModel

@{
    ViewData["Title"] = "Proveedores";
}

@* Despegable 1 *@
<aside class="row">

    <article class="col-12 col-lg-3  border-R rounded-3 text-dark" id="form">

        <section class="row text-center text-dark" style="background: #fff;">

            <h3 class="p-1 ">
                <span class="color-R">C</span>lasificación <img src="~/images/down.svg"
                                                                alt="down" class="down" id="down">
                <img src="~/images/up.svg" class="down d-none" alt="up" id="up">
            </h3>

            <div class="text-light text-center" id="form-body">

                <form asp-action="Agregar" class="text-light text-center " id="form-body" onsubmit="return ValidarFormulario()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="VarianteEquipo.ID" value="">

                    <h3 class="contorno bg-R mt-3 mx-auto p-3">Registra clasificación de equipos</h3>

                    @*FORMULARIO - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@

                    @*Marca*@
                    <div class="row pt-2">
                        <h5>Marca</h5>
                    </div>
                    <div class="row d-flex justify-content-center pt-1">
                        <select asp-for="VarianteEquipo.MarcaID" class="txtForm" asp-items="@Model.Marcas" onchange="ValidarFormulario()">
                            <option value="">Selecciona un campo</option>
                        </select>
                        <span id="MarcaError" class="text-danger" style="display: none;"></span>
                    </div>

                    @*Voltaje*@
                    <div class="row pt-2">
                        <h5>Voltaje</h5>
                    </div>
                    <div class="row d-flex justify-content-center pt-1">
                        <select asp-for="VarianteEquipo.MotorID" class="txtForm" asp-items="@Model.Motores" onchange="ValidarFormulario()">
                            <option value="">Selecciona un campo</option>
                        </select>
                        <span id="MotorError" class="text-danger" style="display: none;"></span>
                    </div>

                    @*Periodos*@
                    <div class="row pt-2">
                        <h5>Periodos de mantenimineto</h5>
                    </div>
                    <div class="row d-flex justify-content-center pt-1">
                        <select asp-for="VarianteEquipo.PeriodoID" class="txtForm" asp-items="@Model.Periodos" onchange="ValidarFormulario()">
                            <option value="">Selecciona un campo</option>
                        </select>
                        <span id="PeriodoError" class="text-danger" style="display: none;"></span>
                    </div>

                    @*Tipo de equipo*@
                    <div class="row pt-1">
                        <h5>Tipo de equipo</h5>
                    </div>
                    <div class="row d-flex justify-content-center pt-1">
                        <select asp-for="VarianteEquipo.TipoEquipoID" class="txtForm" asp-items="@Model.TipoEquipo" onchange="ValidarFormulario()">
                            <option value="">Selecciona el tipo equipo</option>
                        </select>
                        <span id="TipoEquipoError" class="text-danger" style="display: none;"></span>
                    </div>

                    @*Capacidad*@

                    <div class="row pt-2">
                        <h5>Capacidad</h5>
                    </div>

                    <div class="row pt-2" style="width:78%; margin:auto;">

                        <div class="col-6  col-md-7 justify-content-start d-flex">
                            <input asp-for="VarianteEquipo.CapacidadValor" type="number" class="subTxtForm" onchange="ValidarFormulario()">
                        </div>

                        <div class="col-6 col-md-5">
                            <select asp-for="VarianteEquipo.CapacidadSelect" class="txtForm" asp-items="@Model.Capacidad" onchange="ValidarFormulario()">
                                <option value="">N/A</option>
                            </select>
                        </div>
                        <span id="CapacidadError" class="text-danger" style="display: none;"></span>

                    </div>

                    @*Boton*@
                    <div class="row pt-3 d-flex justify-content-center">
                        <input type="submit" value="Agregar" class="boton" style="width:80%; margin:auto;" formnovalidate>
                    </div>

                    <br />

                    @*FORMULARIO - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@

                </form>
                <br />
                @*FORMULARIO - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
            </div>
        </section>
    </article>

    <article class="col-12 col-lg-9"></article>

</aside>

<br />

@* Contenido 1 *@
<main class="container-fluid mt-5">

    @* Titulo *@
    <article class="row border-R text-center rounded-3">
        <h1><span class="color-R">C</span>lasificación de equipos</h1>
    </article>

    @* Tabla1 *@
    <article class="row border-R rounded-3 text-dark mt-3 mb-3 tabla-main">

        <table class="text-center clasificacion ">

            <thead>

                <tr class="border-R text-center">
                    <th class="border">Tipo</th>
                    <th class="border">Marca</th>
                    <th class="border">Periodo</th>
                    <th class="border">Voltaje</th>
                    <th class="border">Capacidad</th>
                    <th class="border" style="width:9%;">Estado del registro</th>
                    <th class="border" style="width:5%;">Editar</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Variantes.Count; i++)
                {
                    <form asp-action="UpdateEstado" id="Update@(i)">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <tr>
                        <td class="border-R">@Model.Variantes[i].TipoEquipo.Nombre</td>
                        <td class="border-R">@Model.Variantes[i].Marca.Nombre</td>
                        <td class="border-R">@Model.Variantes[i].Periodo.Nombre</td>
                        <td class="border-R">@Model.Variantes[i].Motor.Nombre</td>
                        <td class="border-R">@Model.Variantes[i].Capacidad</td>
                        <td class="border-R">
                            <input type="hidden" class="UpdateID" id="UpdateId@(i)" asp-for="UpdateID" value="@(Model.Variantes[i].ID)" />
                            <label class="toggle-switch">
                                    
                                <input class="chbxEstadoEquipo"
                                   type="checkbox" asp-for="Variantes[i].Estado">
                                    
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td class="border-R">
                            <img class="remover" src="~/images/pen-to-square-solid.svg" data-parametro="@(Model.Variantes[i].ID)"/>
                        </td>
                        @*<td class="border-R">
                            <img src="~/images/pen-to-square-solid.svg" id="menu" class="BtnEditar edit" data-parametro="@(Model.Variantes[i].ID)" />
                        </td>*@
                    </tr>
                    </form>
                }
            </tbody>
        </table>
    </article>
</main>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ValidarForm");
        <script src="~/js/TipoEquiposScripts/Editar.js"></script>
        <script src="~/js/despegable.js"></script>
    }
}