@model Condominios.Models.ViewModels.CtrolProveedores.ProveedoresViewModel
@{
    ViewData["Title"] = "Proveedores";
}

<aside class="row">

    <section class="col-12 col-md-4 rounded-2" id="despegableUP">
        <div class="row border-R titleDespegable rounded-2">
            <h2> <span class="color-R">N</span>uevo Proveedor <img src="~/images/down.svg" class="btnDes" alt="UP" id="up"></h2>
        </div>

        <div id="contenidoUP">
            <form asp-action="Agregar" onsubmit="return ValidarFormulario()">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="ID" value="">

                <h4 class="pt-3">Registra un proveedor</h4>

                @*Nombre*@
                <div class="row pt-1">
                    <h5>Nombre</h5>
                </div>
                <div class="row d-flex justify-content-center pt-1">
                    <input asp-for="Nombre" type="text" class="textDes">
                    <span id="NombreError" class="text-danger" style="display: none;"></span>
                </div>

                @*Teléfono*@
                <div class="row pt-1">
                    <h5>Teléfono</h5>
                </div>
                <div class="row d-flex justify-content-center pt-1">
                    <input asp-for="Numero" type="text" class="textDes">
                    <span id="NumeroError" class="text-danger" style="display: none;"></span>
                </div>

                @*Dirección*@
                <div class="row pt-1">
                    <h5>Dirección</h5>
                </div>
                <div class="row d-flex justify-content-center pt-1">
                    <input asp-for="Direccion" type="text" class="textDes">
                    <span id="DireccionError" class="text-danger" style="display: none;"></span>
                </div>

                @*Correo*@
                <div class="row pt-1">
                    <h5>Correo</h5>
                </div>
                <div class="row d-flex justify-content-center pt-1">
                    <input asp-for="Correo" type="text" class="textDes">
                    <span id="CorreoError" class="text-danger" style="display: none;"></span>
                </div>

                @*Boton*@
                <div class="row pt-3 d-flex justify-content-center">
                    <input type="submit" value="Agregar" class="btn-des" formnovalidate>
                </div>
                <br>
                @*FORMULARIO - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
            </form>
        </div>

    </section>

    <div class="col-12 col-lg-9">
    </div>

</aside>



<br />
<br />



@* Titulo *@
<article class="row border-R text-center mt-3 rounded-3">
    <h1><span class="color-R">P</span>roveedor</h1>
</article>

@* Filtro por página *@
<article class="row text-dark mt-3">
    <section class="col-6 col-xl-2 bg-R p-1 text-light numerPage1 text-center">
        <h4 for="rowsPerPage">Filas por página:</h4>
    </section>

    <section class="col-6 col-xl-1 bg-R p-1 d-flex numerPage justify-content-start">
        <select id="rowsPerPage" class="option" onchange="cambiarFilasPorPagina()">
            <option value="3">3</option>
            <option selected value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="75">75</option>
            <option value="100">100</option>
        </select>
    </section>
</article>

@* Tabla2 *@
<article class="row rounded-3 text-dark mt-3 ">

    <table class="text-center" id="myTable">

        <thead>

            <tr class="border-R">
                <th class="border-R">
                    Nombre
                </th>
                <th class="border-R">
                    Teléfono
                </th>
                <th class="border-R">
                    Dirección
                </th>
                <th class="border-R">
                    Correo
                </th>
                <th class="border-R">
                    Estado
                </th>
                <th class="border-R">
                    Editar
                </th>
            </tr>

        </thead>

        <tbody>
            @for (int i = 0; i < Model.Proveedor.Count; i++)
            {
                <form asp-action="UpdateEstado" id="Update@(i)">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <tr>
                    <td class="border-R">@Model.Proveedor[i].Nombre</td>
                    <td class="border-R">@Model.Proveedor[i].Telefono</td>
                    <td class="border-R">@Model.Proveedor[i].Direccion</td>
                    <td class="border-R">@Model.Proveedor[i].Correo</td>
                    <td class="border-R">
                        <label class="toggle-switch">
                            <input class="chbxEstado" data-url="Proveedores/UpdateStatus/" type="checkbox" checked="@Model.Proveedor[i].Estado" value="@(Model.Proveedor[i].ID)">
                            <div class="toggle-switch-background">
                                <div class="toggle-switch-handle"></div>
                            </div>
                        </label>
                    </td>
                    <td class="border-R">
                        <img class="remover" src="~/images/pen-to-square-solid.svg" data-parametro="@(Model.Proveedor[i].ID)" />
                    </td>
                </tr>
                </form>
            }
        </tbody>

    </table>

    <section class="row text-center">
        <div class="pt-2">
            <h5><span class="color-R">M</span>ás resultados</h5>
        </div>
        <div class="pagination d-flex justify-content-center">
        </div>
    </section>

</article>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/ProveedorScripts/ValidarProveedor.js" asp-append-version="true"></script>
        <script type="module" src="~/js/ProveedorScripts/Editar.js" asp-append-version="true"></script>
        <script type="module" src="~/js/EditarProveedorEquipo.js" asp-append-version="true"></script>
        <script src="~/js/TipoEquiposScripts/EstadoCheckbox.js" asp-append-version="true"></script>
        <script src="~/js/Desplegable.js" asp-append-version="true"></script>
        <script src="~/js/Tablas.js" asp-append-version="true"></script>
    }
}