@model Condominios.Models.ViewModels.Catalogos.CatalogoViewModel

@{
    ViewData["Title"] = "Catalogos";
#pragma warning disable CS8602
}

<main class="container-fluid">

    @* Titulo *@
    <article class="row mb-4 text-center">
        <div>
            <div class="border-R rounded-3 mt-3 p-2">
                <h1><b><span class="color-R">C</span>atálogos</b></h1>
            </div>
        </div>
    </article>

    @* Tablas *@
    <article class="row text-center justify-content-between g-5">
        @* MARCA *@
        <section class="col-12 col-md-12 col-lg-6 col-xl-4 rounded-3">
            <div class="border-R h-100 rounded-3 mt-2 p-2">

                <h3 class="pt-2"><b> <span class="color-R">R</span>egistrar marca</b></h3>

                @* FORMULARIO *@

                <div class="row p-3">
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                    <form id="FormsCrearMarca" class="row align-items-center d-flex justify-content-center p-1">
                        <input type="hidden"  name="Entidad" value="Marca" />
                        <div class="col-6">
                            <input type="hidden" name="InputHidden" placeholder="Nombre" class="text" value="0">
                            <input type="text" name="Nombre" placeholder="Nombre" class="text">
                            <span class="text-danger Mensaje" style="display: none;"></span>
                        </div>
                        <div class="col-6">
                            <input type="submit" value="Agregar" class="botonTrue">
                            <input type="submit" value="Cancelar" class="boton Cancelar">
                        </div>
                    </form>
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                </div>

                @* TABLA *@

                <div class="row tabla-main mb-2" style="margin: auto;">

                    <table class="bg-light border-R text-dark">

                        <thead class="thead">
                            <tr class="border-R text-center">
                                <th>Marca</th>
                                <th style="width:27%;">Estado de registro</th>
                                <th>Editar</th>
                                <th style="width:25%;">Más información</th>
                            </tr>
                        </thead>

                        <tbody id="FilasMarcas">
                            @for (int i = 0; i < Model.Marcas.Count; i++)
                            {
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <form id="UpdateMarca@(i)" class="FilaMarca">
                                    <input type="hidden" name="ID"       value="@Model.Marcas[i].ID" />
                                    <input type="hidden" name="Entidad"  value="Marca" />
                                </form>
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <tr>
                                    <td class="border-R">@Model.Marcas[i].Nombre</td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <label class="toggle-switch">
                                            <input class="chbxMarcas" type="checkbox" checked="@Model.Marcas[i].Estado">
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <img class="remover" src="~/images/pen-to-square-solid.svg" data-formulario="FormsCrearMarca" data-parametro="@(Model.Marcas[i].ID)" />
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <img class="remover" src="~/images/eye-solid.svg" />
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </section>

        @* UBICACIÓN *@
        <section class="col-12 col-md-12 col-lg-6 col-xl-4 rounded-3">
            <div class="border-R h-100 rounded-3 mt-2 p-2">
                <h3 class="pt-2"><b> <span class="color-R">R</span>egistrar ubicación</b></h3>

                @* FORMULARIO *@

                <div class="row p-3">
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                    <form id="FormsCrearUbicacion" class="row align-items-center d-flex justify-content-center p-1" onsubmit="return ValidarForm('FormsCrearUbicacion')">
                        <input type="hidden" name="Entidad" value="Ubicacion" />
                        <div class="col-6">
                            <input type="hidden" name="InputHidden" placeholder="Nombre" class="text" value="0">
                            <input type="text" name="Nombre" placeholder="Nombre" class="text">
                            <span class="text-danger Mensaje" style="display: none;"></span>
                        </div>
                        <div class="col-6">
                            <input type="submit" value="Agregar" class="botonTrue">
                            <input type="button" value="Cancelar" class="boton Cancelar">
                        </div>
                    </form>
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                </div>

                @* TABLA *@

                <div class="row tabla-main  mb-2" style="margin: auto;">

                    <table class="bg-light text-dark">

                        <thead class="thead">
                            <tr class="border-R text-center">
                                <th class="border-R">Ubicación</th>
                                <th class="border-R" style="width:27%;">Estado de registro</th>
                                <th class="border-R">Editar</th>
                            </tr>
                        </thead>

                        <tbody id="FilasUbicacion">
                            @for (int i = 0; i < Model.Ubicaciones.Count; i++)
                            {
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <form id="UpdateUbicacion@(i)" class="FilaUbicacion">
                                    <input type="hidden" name="ID" value="@Model.Ubicaciones[i].ID" />
                                    <input type="hidden" name="Entidad" value="Ubicacion" />
                                </form>
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <tr>
                                    <td class="border-R">@Model.Ubicaciones[i].Nombre</td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <label class="toggle-switch">
                                            <input class="chbxUbicaciones" type="checkbox" checked="@Model.Ubicaciones[i].Estado">
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <img class="remover" src="~/images/pen-to-square-solid.svg" data-formulario="FormsCrearUbicacion" data-parametro="@(Model.Ubicaciones[i].ID)" />
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </section>

        @* MOTOR *@
        <section class="col-12 col-md-12 col-lg-6 col-xl-4 rounded-3">
            <div class="border-R h-100 rounded-3 mt-2 p-2">

                <h3 class="pt-2"><b> <span class="color-R">R</span>egistrar motor</b></h3>

                @* FORMULARIO *@

                <div class="row p-3">
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                    <form id="FormsCrearMotor" class="row align-items-center d-flex justify-content-center p-1">
                        <input type="hidden" name="Entidad" value="Motor" />
                        <div class="col-6">
                            <input type="hidden" name="InputHidden" placeholder="Nombre" class="text" value="0">
                            <input type="text" name="Nombre" placeholder="Nombre" class="text">
                            <span class="text-danger Mensaje" style="display: none;"></span>
                        </div>
                        <div class="col-6">
                            <input type="submit" value="Agregar" class="botonTrue">
                            <input type="button" value="Cancelar" class="boton Cancelar">
                        </div>
                    </form>
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                </div>

                @* TABLA *@

                <div class="row tabla-main  mb-2" style="margin: auto;">

                    <table class="bg-light text-dark">

                        <thead class="thead">
                            <tr class="border-R text-center">
                                <th class="border-R">Voltage</th>
                                <th class="border-R" style="width:27%;">Estado de registro</th>
                                <th class="border-R">Editar</th>
                            </tr>
                        </thead>

                        <tbody id="FilasMotor">
                            @for (int i = 0; i < Model.Motores.Count; i++)
                            {
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <form id="UpdateMotor@(i)" class="FilaMotor">
                                    <input type="hidden" name="ID" value="@Model.Motores[i].ID" />
                                    <input type="hidden" name="Entidad" value="Motor" />
                                </form>
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <tr>
                                    <td class="border-R">@Model.Motores[i].Nombre</td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <label class="toggle-switch">
                                            <input class="chbxMotores" type="checkbox" checked="@Model.Motores[i].Estado">
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <img class="remover" src="~/images/pen-to-square-solid.svg" data-formulario="FormsCrearMotor" data-parametro="@(Model.Motores[i].ID)" />
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </section>

        @* PERIODO *@
        <section class="col-12 col-md-12 col-lg-6 col-xl-4 rounded-3">
            <div class="border-R h-100 rounded-3 mt-2 p-2">

                <h3 class="pt-2"><b> <span class="color-R">R</span>egistrar periodo de mantenimiento</b></h3>

                @* FORMULARIO *@

                <div class="row p-3">
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                    <form asp-action="UpdateById" id="FormsCrearPeriodo" class="row align-items-center d-flex justify-content-center p-1">
                        <input type="hidden" name="Entidad" value="Periodo" />

                        <div class="row">
                            <div class="col-6">
                                <select asp-for="PeriodoViewModel.Mes" id="ddlUnidadTiempo" name="Mes" class="text">
                                    <option value="">Selecciona el plazo de tiempo</option>
                                    <option value="true">Meses</option>
                                    <option value="false">Años</option>
                                </select>
                                <span class="text-danger MensajeMes" style="display: none;"></span>
                            </div>
                            <div class="col-6">
                                <input asp-for="PeriodoViewModel.Cantidad" id="txtCantidad" name="Cantidad" type="number" placeholder="Cantidad" class="text" />
                                <br />
                                <span class="text-danger MensajeCantidad" style="display: none;"></span>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-6">
                                <input type="hidden" name="InputHidden" placeholder="Nombre" class="text" value="0">
                                <input asp-for="PeriodoViewModel.Nombre" id="txtNombrePlazo" name="Nombre" type="text" placeholder="Nombre" class="text">
                                <span class="text-danger Mensaje" style="display: none;"></span>
                            </div>
                            <div class="col-6">
                                <input type="submit" value="Agregar" class="botonTrue mt-1">
                                <input type="button" value="Cancelar" class="boton Cancelar">
                            </div>
                        </div>
                    </form>
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                </div>

                @* TABLA *@

                <div class="row tabla-main  mb-2" style="margin: auto;">

                    <table class="bg-light text-dark">

                        <thead class="thead">
                            <tr class="border text-center">
                                <th class="border-R">Periodo</th>
                                <th class="border-R">Meses</th>
                                <th class="border-R" style="width:27%;">Estado de registro</th>
                                <th class="border-R">Editar</th>
                            </tr>
                        </thead>

                        <tbody id="FilasPeriodo">
                            @for (int i = 0; i < Model.Periodos.Count; i++)
                            { @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <form id="UpdatePeriodo@(i)" class="FilaPeriodo">
                                    <input type="hidden" name="ID" value="@Model.Periodos[i].ID" />
                                    <input type="hidden" name="Entidad" value="Periodo" />
                                </form>
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <tr>
                                    <td class="border-R">@Model.Periodos[i].Nombre</td>
                                    <td class="border-R">@Model.Periodos[i].Meses</td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <label class="toggle-switch">
                                            <input class="chbxPeriodo" type="checkbox" checked="@Model.Periodos[i].Estado">
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <img class="remover" src="~/images/pen-to-square-solid.svg" data-formulario="FormsCrearPeriodo" data-parametro="@(Model.Periodos[i].ID)" />
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                </tr>
                            }
                        </tbody>


                    </table>

                </div>
            </div>
        </section>

        @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@

        @* MANTENIMIENTO *@
        <section class="col-12 col-md-12 col-lg-6 col-xl-4 rounded-3">
            <div class="border-R h-100 rounded-3 mt-2 p-2">

                <h3 class="pt-2"><b> <span class="color-R">R</span>egistrar tipo de mantenimiento</b></h3>

                @* FORMULARIO *@
                <div class="row p-3">
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                    <form id="FormsCrearTipoMTO" class="row align-items-center d-flex justify-content-center p-1">
                        <input type="hidden" name="Entidad" value="TipoMantenimiento" />
                        <div class="col-6">
                            <input type="hidden" name="InputHidden" placeholder="Nombre" class="text" value="0">
                            <input type="text" name="Nombre" placeholder="Nombre" class="text">
                            <span class="text-danger Mensaje" style="display: none;"></span>
                        </div>
                        <div class="col-6">
                            <input type="submit" value="Agregar" class="botonTrue">
                            <input type="button" value="Cancelar" class="boton Cancelar">
                        </div>
                    </form>
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                </div>

                @* TABLA *@

                <div class="row tabla-main  mb-2" style="margin: auto;">

                    <table class="bg-light text-dark">

                        <thead class="thead">
                            <tr class="border-R text-center">
                                <th class="border-R">Tipo</th>
                                <th class="border-R" style="width:27%;">Estado de registro</th>
                                <th class="border-R">Editar</th>
                            </tr>
                        </thead>

                        <tbody id="FilasTipoMTO">
                            @for (int i = 0; i < Model.TipoMantenimientos.Count; i++)
                            {
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <form id="UpdateTipoMTO@(i)" class="FilaTipoMTO">
                                    <input type="hidden" name="ID" value="@Model.TipoMantenimientos[i].ID" />
                                    <input type="hidden" name="Entidad" value="TipoMantenimiento" />
                                </form>
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <tr>
                                    <td class="border-R">@Model.TipoMantenimientos[i].Nombre</td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <label class="toggle-switch">
                                            <input class="chbxTipoMTO" type="checkbox" checked="@Model.TipoMantenimientos[i].Estado">
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <img class="remover" src="~/images/pen-to-square-solid.svg" data-formulario="FormsCrearTipoMTO" data-parametro="@(Model.TipoMantenimientos[i].ID)" />
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </section>

        @* ESTATUS *@
        <section class="col-12 col-md-12 col-lg-6 col-xl-4 rounded-3">
            <div class="border-R h-100 rounded-3 mt-2 p-2">

                <h3 class="pt-2"><b> <span class="color-R">R</span>egistrar estatus</b></h3>

                @* FORMULARIO *@
                <div class="row p-3">

                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                    <form id="FormsCrearEstatus" class="row align-items-center d-flex justify-content-center p-1">
                        <input type="hidden" name="Entidad" value="Estatus" />
                        <div class="col-6">
                            <input type="hidden" name="InputHidden" placeholder="Nombre" class="text" value="0">
                            <input type="text" name="Nombre" placeholder="Nombre" class="text">
                            <span class="text-danger Mensaje" style="display: none;"></span>
                        </div>
                        <div class="col-6">
                            <input type="submit" value="Agregar" class="botonTrue">
                            <input type="submit" value="Cancelar" class="boton Cancelar">
                        </div>
                    </form>
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@

                </div>

                @* TABLA *@

                <div class="row tabla-main  mb-2" style="margin: auto;">

                    <table class="bg-light text-dark">

                        <thead class="thead">
                            <tr class="border-R text-center">
                                <th class="border-R">Estatus</th>
                                <th class="border-R" style="width:27%;">Estado de registro</th>
                                <th class="border-R">Editar</th>
                            </tr>
                        </thead>
                        <tbody id="FilasEstatus">
                            @for (int i = 0; i < Model.Estatus.Count; i++)
                            {
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <form id="UpdateEstatus@(i)" class="FilaEstatus">
                                    <input type="hidden" name="ID" value="@Model.Estatus[i].ID" />
                                    <input type="hidden" name="Entidad" value="Estatus" />
                                </form>
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <tr>
                                    <td class="border-R">@Model.Estatus[i].Nombre</td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <label class="toggle-switch">
                                            <input class="chbxEstatus" type="checkbox" checked="@Model.Estatus[i].Estado">
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <img class="remover" src="~/images/pen-to-square-solid.svg" data-formulario="FormsCrearEstatus" data-parametro="@(Model.Estatus[i].ID)" />
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </section>

        @* TIPO EQUIPO *@
        <section class="col-12 col-md-12 col-lg-6 col-xl-4 rounded-3">
            <div class="border-R h-100 rounded-3 mt-2 p-2">

                <h3 class="pt-2"><b> <span class="color-R">R</span>egistrar tipo de equipo</b></h3>

                @* FORMULARIO *@
                <div class="row p-3">

                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                    <form id="FormsCrearTipoEquipo" class="row align-items-center d-flex justify-content-center p-1">
                        <input type="hidden" name="Entidad" value="TipoEquipo" />
                        <div class="col-6">
                            <input type="hidden" name="InputHidden" placeholder="Nombre" class="text" value="0">
                            <input type="text" name="Nombre" placeholder="Nombre" class="text">
                            <span class="text-danger Mensaje" style="display: none;"></span>
                        </div>
                        <div class="col-6">
                            <input type="submit" value="Agregar" class="botonTrue">
                            <input type="button" value="Cancelar" class="boton Cancelar">
                        </div>
                    </form>
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@

                </div>

                @* TABLA *@

                <div class="row tabla-main  mb-2" style="margin: auto;">

                    <table class="bg-light text-dark">

                        <thead class="thead">
                            <tr class="border-R text-center">
                                <th class="border-R">Tipo</th>
                                <th class="border-R" style="width:27%;">Estado de registro</th>
                                <th class="border-R">Editar</th>
                            </tr>
                        </thead>

                        <tbody id="FilasTiposEquipo">
                            @for (int i = 0; i < Model.TipoEquipos.Count; i++)
                            {
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <form id="UpdateTiposEquipo@(i)" class="FilaTipoEquipo">
                                    <input type="hidden" name="ID" value="@Model.TipoEquipos[i].ID" />
                                    <input type="hidden" name="Entidad" value="TipoEquipo" />
                                </form>
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <tr>
                                    <td class="border-R">@Model.TipoEquipos[i].Nombre</td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <label class="toggle-switch">
                                            <input class="chbxTipoEquipo" type="checkbox" checked="@Model.TipoEquipos[i].Estado">
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <img class="remover" src="~/images/pen-to-square-solid.svg" data-formulario="FormsCrearTipoEquipo" data-parametro="@(Model.TipoEquipos[i].ID)" />
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </section>

        @* UNIDAD MEDIDA *@
        <section class="col-12 col-md-12 col-lg-6 col-xl-4 rounded-3">
            <div class="border-R h-100 rounded-3 mt-2 p-2">

                <h3 class="pt-2"><b> <span class="color-R">R</span>egistrar unidad de Medida</b></h3>

                @* FORMULARIO *@
                <div class="row p-3">

                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                    <form id="FormsCrearUnidadMedida" class="row align-items-center d-flex justify-content-center p-1">
                        <input type="hidden" name="Entidad" value="UnidadMedida" />
                        <div class="col-6">
                            <input type="hidden" name="InputHidden" placeholder="Nombre" class="text" value="0">
                            <input type="text" name="Nombre" placeholder="Nombre" class="text">
                            <span class="text-danger Mensaje" style="display: none;"></span>
                        </div>
                        <div class="col-6">
                            <input type="submit" value="Agregar" class="botonTrue">
                            <input type="button" value="Cancelar" class="boton Cancelar">
                        </div>
                    </form>
                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@

                </div>

                @* TABLA *@

                <div class="row tabla-main  mb-2" style="margin: auto;">

                    <table class="bg-light text-dark">

                        <thead class="thead">
                            <tr class="border-R text-center">
                                <th class="border-R">Unidad</th>
                                <th class="border-R" style="width:27%;">Estado de registro</th>
                                <th class="border-R">Editar</th>
                            </tr>
                        </thead>

                        <tbody id="FilasUnidadMedida">
                            @for (int i = 0; i < Model.unidadMedidas.Count; i++)
                            {
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <form id="UpdateUnidadMedida@(i)" class="FilaUnidadMedida">
                                    <input type="hidden" name="ID" value="@Model.unidadMedidas[i].ID" />
                                    <input type="hidden" name="Entidad" value="UnidadMedida" />
                                </form>
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                <tr>
                                    <td class="border-R">@Model.unidadMedidas[i].Nombre</td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <label class="toggle-switch">
                                            <input class="chbxUnidadMedida" type="checkbox" checked="@Model.unidadMedidas[i].Estado">
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                    <td class="border-R">
                                        <img class="remover" src="~/images/pen-to-square-solid.svg" data-formulario="FormsCrearUnidadMedida" data-parametro="@(Model.unidadMedidas[i].ID)" />
                                    </td>
                                    @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </section>

        <section class="col-12 col-md-12 col-lg-6 col-xl-4 rounded-3"> </section>
    </article>

    <br />
    <br />
    <br />
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_CatalogosScripts");
        <script type="module" src="~/js/CatalogosScripts/Editar.js"></script>
        <script>AlertaJS(@Html.Raw(Json.Serialize(Model.AlertaEstado)) )</script>
       
    }
}


