@model Condominios.Models.ViewModels.CtrolEquipo.CtrlEquipoViewModel

@{
#pragma warning disable CS8602
}

@* Despegable 1 *@

<aside class="row">

    <article class="col-12 col-lg-3  border-R rounded-3 text-dark" id="form">

        <section class="row text-center text-dark" style="background: #fff;">

            <h3 class="p-1 ">
                <span class="color-R">E</span>quipo <img src="~/images/down.svg"
                                                         alt="down" class="down" id="down">
                <img src="~/images/up.svg" class="down d-none" alt="up" id="up">
            </h3>

            <div class="text-light text-center " id="form-body">

                <h3 class="contorno bg-R mt-3 mx-auto p-3">Registra mas de un equipo</h3>

                @*FORMULARIO DESPLEGABLE DE EQUIPOS- - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                <form asp-action="Create" class="text-light text-center " id="formsEquipo">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                    <div class="row p-2">
                        <label name="options" class="select" id="text"><b>Selecciona el tipo de equipo</b></label>

                        <select asp-for="Plantilla.VarianteID" asp-items="Model.Variantes" class="select" id="text">
                            <option value="">Selecciona un tipo de equipo</option>
                        </select>
                        <br />
                        <span asp-validation-for="Plantilla.VarianteID" class="text-danger"></span>
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                    <div class="row p-2">
                        <label><b>Selecciona la ubicacion a la que pertenece</b></label>

                        <select asp-for="Plantilla.UbicacionID" asp-items="Model.Ubicaciones" class="select" id="text">
                            <option value="">Selecciona una ubicación</option>
                        </select>
                        <br />
                        <span asp-validation-for="Plantilla.UbicacionID" class="text-danger"></span>
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                    <div class="row p-2">
                        <label><b>¿En que estado se encuentra el equipo?</b></label>

                        <select asp-for="Plantilla.EstatusID" asp-items="Model.Estados" class="select" id="text">
                            <option value="">Selecciona un estado</option>
                        </select>
                        <span asp-validation-for="Plantilla.EstatusID" class="text-danger"></span>
                    </div>
                    @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                    <div class="row p-2 ">
                        <label><b>Precio de adquisicion del equipo</b></label>
                        <input asp-for="Plantilla.CostoAdquisicion" class="text-center" id="text" type="number" />
                        <br />
                        <span asp-validation-for="Plantilla.CostoAdquisicion" class="text-danger"></span>
                    </div>

                    <div class="row p-2">
                        <label><b>Fecha de última aplicacion</b></label>
                        <input asp-for="Plantilla.UltimaAplicacion" class="text-center" id="text" type="month" />
                        <br />
                        <span asp-validation-for="Plantilla.UltimaAplicacion" class="text-danger"></span>
                    </div>

                    <div class="input mx-auto">
                        @*- - - - - - - - - - - - - -*@
                        <label class="mb-2 control-label"><b id="numeroInputs"></b></label>
                        @*- - - - - - - - - - - - - -*@
                        <div id="contenedor-inputs" class="contorno mx-auto border border-2" style="width: 100%; max-height: 150px; overflow-y: auto;">
                            <label class="mb-3 mt-3 control-label"><b>Numero de serie</b></label>
                            <input asp-for="NumerosSerie" class="InputSerie text-center text"/>
                            <br />
                            <span asp-validation-for="NumerosSerie" class="text-danger"></span>
                            <br />
                        </div>
                        <div class="mt-4 row">
                            @*- - - - - - - - - - - - - -*@
                            <div class="col-6">
                                <button type="button" onclick="agregarNuevoInput()" class="boton">
                                    <b>Agregar Equipo</b>
                                </button>
                            </div>
                            @*- - - - - - - - - - - - - -*@
                            <div class="col-6">
                                <button type="button" onclick="removerInput()" @*onclick="onclick= event.preventDefault();"*@ class="boton">
                                    <b>Remover</b>
                                </button>
                                @*- - - - - - - - - - - - - -*@
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 row ">
                        <div class="col-6">
                            @*- - - - - - - - - - - - - -*@
                            <button type="submit" class="boton"><b>Registrar</b></button>
                            @*- - - - - - - - - - - - - -*@
                        </div>
                        <div class="col-6">
                            @*- - - - - - - - - - - - - -*@
                            <button type="reset" onclick="location.reload();" class="boton">
                                <b>Cancelar</b>
                            </button>
                            @*- - - - - - - - - - - - - -*@
                        </div>
                    </div>
                    <br>
                </form>
                @*FORMULARIO - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@

            </div>

        </section>

    </article>

    <article class="col-12 col-lg-9"></article>

</aside>

<br />

<main class="container-fluid mt-5">

    @* Titulo *@
    <section class="row border-R text-center rounded-3">
        <h1><span class="color-R">E</span>quipos registrados</h1>
    </section>

    @* Buscadores *@
    <article class="row mt-4  justify-content-between">

        @* Buscador por nombre *@
        <section class="col-12 col-md-4 col-lg-2 text-center border-R rounded-2">

            <h5 class="mt-2 mb-3"><span class="color-R">B</span>usqueda por nombre del equipo</h5>

            <div class="row text-center mb-2">

                <div class="col-6">
                    <input type="text" placeholder="Buscar" class="search">
                </div>

                <div class="col-6 d-flex align-items-center">
                    <input type="button" value="Buscar" class="boton">
                </div>

            </div>

        </section>

        @* Buscador por filtros *@
        <form asp-action="SearchByFilters" class="col-12 col-md-7 text-center border-R rounded-2 align-items-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4 class="mt-3 mb-3"><span class="color-R">B</span>usqueda con filtros</h4>
            <div class="row text-center d-flex justify-content-between mb-3">

                <div class="col-4 col-lg-2 col-md-4 p-1">
                    <select asp-for="FiltroID.MarcaID" asp-items="Model.Marcas" class="search">
                        <option value="0">Selecciona una marca</option>
                    </select>
                </div>

                <div class="col-4 col-lg-2 col-md-4 p-1">
                    <select asp-for="FiltroID.UbicacionID" asp-items="Model.Ubicaciones" class="search">
                        <option value="0">Selecciona una ubicación</option>
                    </select>
                </div>

                <div class="col-4 col-lg-2 col-md-4 p-1">
                    <select asp-for="FiltroID.TipoID" asp-items="Model.TipoEquipos" class="search">
                        <option value="0">Selecciona un tipo de equipo</option>
                    </select>
                </div>

                <div class="col-4 col-lg-2 col-md-4 p-1">
                    <select asp-for="FiltroID.MotorID" asp-items="Model.Motores" class="search">
                        <option value="0">Selecciona un tipo de motor</option>
                    </select>
                </div>

                <div class="col-4 col-lg-2 col-md-4 p-1">
                    <input type="submit" value="Buscar" class="boton">
                </div>

            </div>
        </form>

        @*Buscardor por estatus*@
        <section class="col-12 col-md-2 text-center border-R rounded-2">

            <h4 class="mt-2 mb-3"><span class="color-R">B</span>uscar por estatus</h4>

            <div class="row text-center mb-2">

                <div class="col-2 p-2"></div>
                <div class="col-8 p-2">
                    <select asp-items="Model.Estatus" name="marcas" class="search" style="width:100%;">
                        <option value="0">Selecciona un estatus</option>
                    </select>
                </div>
                <div class="col-2 p-2"></div>
            </div>
        </section>
    </article>

    @* Tabla de resultados *@
    <article class="row border-R rounded-3 text-dark mt-3 tabla-main">

        <table class="text-center resultados">
            <thead>

                <tr class="border-R">
                    <th class="border-R" id="Nserie">
                        N°. Serie
                    </th>
                    <th class="border-R" id="funcion">
                        Función
                    </th>
                    <th class="border-R" id="ubicacion">
                        Ubicación
                    </th>
                    <th class="border-R" id="marca">
                        Marca
                    </th>
                    <th class="border-R" id="tipo">
                        Tipo
                    </th>
                    <th class="border-R" id="adquisicion">
                        Costo de adquisición
                    </th>
                    <th class="border-R" id="status">
                        Estatus
                    </th>
                    <th class="border-R" id="Motor">
                        Motor
                    </th>
                    <th class="border-R" id="estado">
                        Estado
                    </th>
                    <th class="border-R" id="detalles">
                        Detalles
                    </th>
                </tr>

            </thead>

            <tbody>
                @for (int i = 0; i < Model.Equipos.Count; i++)
                {
                <form asp-action="UpdateById" id="UpdatePeriodo@(i)">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <tr>
                        <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipos[i].NumSerie) </td>
                        <td class="border-R p-1" style="text-align:justify">
                                @Html.DisplayFor(modelItem => Model.Equipos[i].Variante.Funcion.Nombre) 
                        </td>
                        <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipos[i].Ubicacion.Nombre) </td>
                        <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipos[i].Variante.Marca.Nombre) </td>
                        <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipos[i].Variante.TipoEquipo.Nombre) </td>
                        <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipos[i].CostoAdquisicion) </td>
                        <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipos[i].Estatus.Nombre) </td>
                        <td class="border-R"> @Html.DisplayFor(modelItem => Model.Equipos[i].Variante.Motor.Nombre) </td>
                        <td class="border-R">
                            <input type="hidden" asp-for="Plantilla.ID" value="@(Model.Equipos[i].ID)" />
                            @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                            <label class="toggle-switch">
                                @* - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - -  - - *@
                                <input class="chbxEquipo" type="checkbox" asp-for="Equipos[i].Estado">
                                @* - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - -  - - *@
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                            @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  *@
                        </td>
                        <td class="border-R">
                            <a  asp-controller="Mantenimientos" asp-action="Consultar" asp-route-id="@Model.Equipos[i].ID">
                                <img class="detalles" src="~/images/eye-solid.svg" />
                            </a>
                        </td>
                    </tr>
                </form>
                }
            </tbody>
        </table>

    </article>

    @* Titulo *@
    <section class="row border-R mt-3 text-center rounded-3">
        <h1><span class="color-R">G</span>astos de mantenimientos</h1>
    </section>

    @* Buscadores *@
    <article class="row mt-4  justify-content-between">

        @* Resultados encontrados *@
        <section class="col-12 col-md-3 text-center d-flex justify-content-center align-items-center border-R rounded-2 mb-2">

            <div class="row ">

                <div class="col-10">
                    <h5 class="mt-2 mb-3"><span class="color-R">R</span>esultados encontrados: </h5>
                </div>

                <div class="col-2 d-flex align-items-center">
                    <h5><b>15</b></h5>
                </div>

            </div>

        </section>

        @* Buscador por filtros *@
        <section class="col-12 col-md-8 text-center border-R rounded-2 align-items-center mb-2">

            <h4 class="mt-3 mb-3"><span class="color-R">B</span>usqueda con filtros</h4>

            <div class="row text-center d-flex justify-content-between mb-3">

                <div class="col-6 col-md-3 p-1">
                    <select name="Proveedor" class="search">
                        <option value="opcion1">Proveedor</option>
                        <option value="opcion2">Opcion2</option>
                        <option value="opcion13">Opcion3</option>
                    </select>
                </div>

                <div class="col-6 col-md-3 p-1">
                    <select name="fecha" class="search">
                        <option value="opcion1">Fecha 1</option>
                        <option value="opcion2">Opcion2</option>
                        <option value="opcion13">Opcion3</option>
                    </select>
                </div>

                <div class="col-6 col-md-3 p-1">
                    <select name="Fecha2" class="search">
                        <option value="opcion1">Fecha 2</option>
                        <option value="opcion2">Opcion2</option>
                        <option value="opcion13">Opcion3</option>
                    </select>
                </div>

                <div class="col-6 col-md-3 p-1 d-flex align-items-center">
                    <input type="button" value="Buscar" class="boton">
                </div>

            </div>

        </section>


    </article>

    @* Tabla de gastos *@
    <article class="row border-R rounded-3 text-dark mt-3 tabla-main">

        <table class="text-center gastos ">

            <thead>
                <tr class="border-R">

                    <th class="border-R" id="cTipo">
                        Tipo
                    </th>
                    <th class="border-R" id="cCantidad">
                        Cantidad
                    </th>
                    <th class="border-R" id="totalMante">
                        Costo total de mantenimiento
                    </th>
                    <th class="border-R" id="totalRepara">
                        Costo total de reparación
                    </th>
                    <th class="border-R" id="cAdquisicion">
                        Costo total de adquisición
                    </th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="border-R">000000</td>
                    <td class="border-R">xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                <tr>
                <tr>
                    <td class="border-R">000000</td>
                    <td class="border-R">xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                <tr>
                <tr>
                    <td class="border-R">000000</td>
                    <td class="border-R">xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                <tr>
                <tr>
                    <td class="border-R">000000</td>
                    <td class="border-R">xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                    <td class="border-R">$xxxxxxx</td>
                <tr>

            </tbody>

        </table>

    </article>

    @* TOTAL DE GASTOS *@
    <section class="row border-R mt-4 text-center rounded-3">

        <div class="col-6 border-R">
            <h2><span class="color-R">T</span>otal de gastos:</h2>
        </div>

        <div class="col-6 col-md-2 border-R">
            <h3><span class="color-R">$</span>xxxxx</h3>
        </div>

        <div class="col-6 col-md-2 border-R">
            <h3><span class="color-R">$</span>xxxxx</h3>
        </div>

        <div class="col-6 col-md-2 border-R">
            <h3><span class="color-R">$</span>xxxxx</h3>
        </div>

    </section>

    <br />
    <br />
    <br />

</main>

<script>
    document.getElementById('formsEquipo').addEventListener('submit', function (event) {
        // Obtener todos los elementos de entrada con la clase 'InputSerie'
        var inputsSerie = document.querySelectorAll('.InputSerie');

        // Crear un conjunto para almacenar los valores únicos de los inputs
        var uniqueValues = new Set();

        // Verificar cada input
        for (var i = 0; i < inputsSerie.length; i++) {
            var inputValue = inputsSerie[i].value.trim();

            // Verificar si el valor ya está en el conjunto
            if (uniqueValues.has(inputValue)) {
                // Mostrar un mensaje de error
                alert('Los números de serie no pueden ser iguales.');

                // Evitar el envío del formulario
                event.preventDefault();
                return;
            }

            // Agregar el valor al conjunto
            uniqueValues.add(inputValue);
        }
    });

    function removerInput() {
        // Obtener todos los elementos de entrada con la clase 'InputSerie'
        var inputsSerie = document.querySelectorAll('.InputSerie');

        // Verificar si hay al menos un input para eliminar
        if (inputsSerie.length > 0) {
            // Eliminar el último input (puedes ajustar esto según tus necesidades)
            var ultimoInput = inputsSerie[inputsSerie.length - 1];
            ultimoInput.parentNode.removeChild(ultimoInput);
        }
    }
</script>

@* Despegable 2 *@

<aside class="row position-fixed fixed-bottom" style="padding-right:1%;">

    <article class="col-12 col-lg-9 "></article>

    <article class="col-12 col-lg-3 border border-dark bg-R rounded-3" id="form-b">

        <section class="row text-light text-center justify-content-center" id="fBody">

            <h4 class="pt-3">Registra un mantenimieneto</h4>

            <section class="row  p-1">
                <label for="">Descripción del trabajo a realizar</label>
                <input type="text" placeholder=" " id="text">
            </section>

            <div class="row p-1">
                <label for="">Seleccione el tipo de mantenimiento</label>
                <select name="options" class="select" id="text">
                    <option value="volvo">Opcion1</option>
                    <option value="saab">Opcion2</option>
                    <option value="mercedes">Opcion3</option>
                    <option value="audi">Opcion4</option>
                </select>
            </div>

            <div class="row p-1">
                <label for="">Seleccione el proveedor que realizara el trabajo</label>
                <select name="options" class="select" id="text">
                    <option value="volvo">Opcion1</option>
                    <option value="saab">Opcion2</option>
                    <option value="mercedes">Opcion3</option>
                    <option value="audi">Opcion4</option>
                </select>
            </div>

            <div class="row p-1">
                <label for="">Costo del mantenimiento</label>
                <input type="text" placeholder=" " id="text">
            </div>

            <div class="row  p-1">
                <label for="">(Si aplica). Escribe el costo del mantenimiento</label>
                <input type="text" placeholder=" " id="text">
            </div>

            <div class="row  p-1">
                <label for="">Observaciones</label>
                <input type="text" rows="2" placeholder=" " id="text">
            </div>


            <div class="row  p-1 pb-2">
                <input type="button" value="Agregar" class="btn-des" id="confirmar">
            </div>
            <br>
        </section>

        <div class="row text-center " style="background: #fff;">

            <h3 class="pt-2 pb-1 ">

                <span class="color-R">M</span>antenimineto <img src="~/images/up.svg" alt="up"
                                                                class="down" id="up1">
                <img src="~/images/down.svg" class="down d-none" alt="down" id="down1">

            </h3>

        </div>

    </article>

</aside>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_EquiposScripts");
    }
}



